.student{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid black;

}
.student p{
  margin: 0;
}
.welcome-message{
  font-size: 2.5em;
  background-color: green;
  padding: 10 px;
  color:aliceblue;
  border-radius: 5px;
  margin: 0;
}
.login-prompt{
   font-size: 2.5em;
  background-color: red;
  padding: 10 px;
  color:aliceblue;
  border-radius: 5px;
  margin: 0;
}
.listhead{
  text-align: center;
  border: 3px black solid;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: auto;
  border-radius: 5px;
  background-color: bisque;



}
.listitem{
  font-size: 2em;
  color: chocolate;
  text-align: center
  ;

}
.listitem li:hover{
  color:rgb(133, 79, 9);
  cursor: pointer;
}
.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.colorheading{
  margin: 50px;
  font-size :20px; ;
}
.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: 'center';
  border: 5px solid rgb(208, 205, 205);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25 ease;
}
.color-display p{
  color: grey;
  font-size: 2rem ;
  text-align: center;
}
.inputcolor{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid white;
}